    <!-- Register Section
    ==========================================-->
    <div id="tf-register" class="text-center">
        <div class="container" style="margin:auto">

            <div class="row">
                <div class="col-md-8 col-md-offset-2" style='display'>

                    <div class="section-title center">
                        <h2><strong>register</strong></h2>
                        <h1>{{rc.title}}</h1>

                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-if="rc.message" class="alert alert-success" role="alert">
                        <p>{{rc.message}}</p>
                    </div>
                    <div ng-if="rc.error" class="alert alert-danger" role="alert">
                        <p>{{rc.error}}</p>
                    </div>

                    <form ng-submit="rc.add_user()" name="forma">
                      <div ng-hide ng-model="rc.users">
                      </div>
                      <div ng-hide ng-model="rc.assoc">
                      </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" ng-model="rc.email" placeholder="Enter email" required="Please enter">
                                    <span style ="color: red" ng-show="forma.email.$dirty && forma.email.$invalid">
                                      <span ng-show="forma.email.$error.email">Invalid email address</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" ng-model="rc.username" placeholder="Enter username" required="Please enter">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" ng-model="rc.password" placeholder="Enter password" required="Please enter">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Name and Surname</label>
                                    <input type="text" class="form-control" ng-model="rc.name" placeholder="Enter name and surname" required="Please enter">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" ng-model="rc.address" placeholder="Enter address" required="Please enter">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phone_number">Phone number</label>
                                    <input type="text" class="form-control" ng-model="rc.phone_number" placeholder="Enter phone number" required="Please enter">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group>
                                    <label for="city">City</label>
                                    <select ng-model="rc.city_id" style="color: black" >
                                      <option ng-repeat="city in rc.cities" value="{{city._id}}" style="color: black;">{{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn tf-btn btn-default">Sign In</button>
                    </form>

                </div>

            </div>

        </div>
    </div>
